
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #f7f9fc;
  --panel: #ffffff;
  --card: #ffffff;
  --text: #0b1324;
  --muted: #667085;
  --border: #e5e7eb;
  
  /* Colores del TVBoard  */
  --tv-bg: #0f1a2a;
  --tv-brand: #0e1a2a;
  --tv-panel: #f7f9fc;
  --tv-card: #ffffff;
  --tv-muted: #667085;
  --tv-border: #e5e7eb;
  --tv-accent: #f5e6a7;
  --tv-accent-2: #fde68a;
  --tv-accent-pill: #facc15;
  --tv-text: #0b1324;
  --tv-header-h: 72px;
  --tv-bottom-h: 88px;
  --tv-gap: 16px;
}


body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;
  height: 100%;
}

html, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}


.tv-dark-theme {
  --bg: var(--tv-bg);
  --brand: var(--tv-brand);
  --panel: var(--tv-panel);
  --card: var(--tv-card);
  --muted: var(--tv-muted);
  --border: var(--tv-border);
  --accent: var(--tv-accent);
  --accent-2: var(--tv-accent-2);
  --accent-pill: var(--tv-accent-pill);
  --text: var(--tv-text);
  --header-h: var(--tv-header-h);
  --bottom-h: var(--tv-bottom-h);
  --gap: var(--tv-gap);
  

  background-color: var(--bg);
}